* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f9fafc;
}

img {
	max-width: 100%;
}

ul li {
	list-style: none;
}

input {
	border: 1px solid;
	border-color: #ddd;
	border-radius: 2rem;
	padding: 0.8rem 1rem;
	font-size: 16px;
	transition: 0.3s all ease-in-out;

	&:focus {
		outline: none;
		border-color: #fa6048;
	}
}

a {
	text-decoration: none;
	color: #fa6048;
}

.react-multi-carousel-list {
	.react-multi-carousel-track {
		align-items: flex-end;

		li {
			.MuiPaper-root {
				max-width: 400px;
				transform: scale(0.8);
				transition: 0.4s all ease-in-out;
			}
		}

		li.react-multi-carousel-item--active {
			.MuiPaper-root {
				min-height: 500px;
				margin-bottom: 50px;
				transition: 0.4s all ease-in-out;
				transform: scale(0.8);
			}
		}
	}
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
